body
  +Scene
    
    +Node size = "D:-0; A:100" align = "[0.01,0.01]" mountPoint = "[0,0]"
      +DOMElement class = "header"
        | Header
        
    +Node size = "A:100; A:100" align = "[0.5,0.5]" mountPoint = "[0.5,0.5]"
      +DOMElement class = "content"
        | Body
        
    +Node size = "A:100; A:100" align = "[0.5,0.9]" mountPoint = "[0.5,0.5]"
      +DOMElement class = "footer"
        | Footer

        
