.content {
  background: red;
  color: white;
  font-size: 3em;
}

.header {
  background: red;
  color: white;
  font-size: 3em;
}

.footer {
  background: red;
  color: white;
  font-size: 3em;
  word-wrap: break-word;
}
